A.c46693{
font-size:9pt;
line-height:150%;
color:#09918d;
text-decoration: none;}
A.c46693:link {
color: #222222;}  
A.c46693:visited {
color: #222222;}  
A.c46693:active {
color: #222222;}  
A.c46693:hover {
color: #09918d;}
.c46693_date {
line-height: 150%;
font-size: 9pt;
text-decoration: none;}
.c46693_click {
font-size: 9pt;
color: #222222;
line-height: 150%;}
.c46693_leaderfont {
font-size: 9pt;
line-height: 150%;}
.c46693_columnstyle {
font-size: 9pt;
color: #222222;
text-decoration: none;}
.c46693_isnew {
font-size: 9pt;
color: #222222;
text-decoration: none;}